
<!--very simple footer code that is used to stop duplication of code
and is inserted into different pages-->
<p class="page-footer">Created by Ben Martin, Craig Cargill, Gregor Davidson, Calum McGuire for CM2104 coursework</p>
