<!-- views/partials/head.ejs -->
<!-- <meta charset="UTF-8">
<title>Flicktionary</title> -->
<!-- CSS (load bootstrap from a CDN) -->
<!-- <link rel="stylesheet" type="text/html" href="style.css">
<script type="text/html" src="script.js"></script>
<style>
 body { padding-top:50px; }
</style> -->


<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Super Awesome</title>
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//github.com/CraigC29/flicktionary/blob/master/views/pages/style.css">
<style>
 body { padding-top:50px; }
</style>
