<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Flicktionary</title>
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" type="text/css" href="/../extras/style.css">
<script src="/../extras/script.js"></script>
<style>
 body { padding-top:50px; }
</style>
