<div class="headerBar">
  <!--Opening a button tag, with class loginBut of type button -->
  <div class="itemContainer" id="movieContainer">
    <div class="movieButton" onclick="changeToMovie()">Movies</div>
  </div>
  <!--Opening a button tag, with class loginBut of type button -->
  <div class="itemContainer" id="seriesContainer">
    <div class="seriesButton" onclick="changeToSeries()">Series</div>
  </div>
  <!--Opening a button tag, with class loginBut of type button -->
  <button class="loginBut" type="button" name="login">
    <!--Creating logo image, with class logoimage. Calling image from file -->
    <img class="logoimage" src="loginButtonImage.png" alt="Login Button"/>
  </button> <!--Closing button tag -->
</div>
