<main class="mainBody" id="mainBody">

  <!--div tags with the logo image, image is called from a file -->
  <div>
    <img src="/../assets/logo.png" class="SiteLogo">
  </div>
  <input type="text" class="searchbar" id="searchInput" name="Search Media" placeholder="Search Media"> </input>
  <br>
  <button id="submit">Submit</button>

  <!--P tag to give the user an idea of what to search for.
  This is so that there is no uncertainty over what the site does-->
  <p>Streamed Media Search Engine </p>

</main> <!--Closing main tag -->

<div class="allMovies" id="allMovies">


  <div class="item1" id="movieBar">
    <div class="large-item">

      <div id="message"></div>
      <ul id="pagination"></ul>

      <div id="resultsbox"  >

        <div id="results">
          <!-- content will be loaded here (promise) -->
        </div>

      </div>
    </div>

  </div>

  <div class="item2" id="sideBar">

    <div class="large-item-2" id="moreDetails">
      <p>Movie:</p>
    </div>

  </div>

</div>
