<!--Button acted upon when clicked. This button will bring the user back to the
toip of the screen. As this is used in multiple pages, a partial is created
to reduce code duplication -->
<button onclick="topFunction()" id="myBtn"  title="Go to top">&#9650;</button>
