/* The width of the page is set to 100%, there is padding at the
top of the page for 300 pixels*/
.mainBody{
  width: 100% ;
  margin-right:auto;
  margin-left: auto;
  padding-top: 170px;

}

/* The login button is kept to the right hand side of the page,
the background is transparent and the border is set to 0 pixels*/
/* .loginBut{

} */

/* The logo button is kept to the right hand side of the page,
the width of the page is automatically set, the image is kept to
right of page and margins and borders are set at 0 pixels*/
.logoimage{
  height: 30px;
  width: auto;
  float: right;
  margin-left: 0px;
  margin-top: 0px;
  border: 0px;
}

/*maximum width of the logo is 100% and the height and widths of
the logo are automatically set*/
.SiteLogo {
  max-width: 100%;
  height: auto;
  width: auto;

}

/*background colour is set to grey, text is alligned to the centre,
font is set, font size is selected and the weight is also set*/
.bodyFlick{
    background-color: #2f2833;
    text-align: center;
    color: #ed5f25;
    font-family: "Arial Rounded MT Bold";
    font-size: xx-large;
    font-weight: bold;
    margin: 0px;
}


/*the footer is set to black, the text colour is white, the position of the
footer is fixed, the width is set at 100% and the font size is medium*/
.page-footer{
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0px;
  margin-bottom: 0px;
  font-size: medium;
}

.headerBar{
  font-size: 20px;
  text-align: left;
  width: 100%;
  background-color: #211d23;
  height: 40px;
  float: left;
  margin: 0px;
  padding: 0px;
}

.movieButton{
  float: left;
  padding: 7px;
  padding-right: 10px;
  background-color: #211d23;
  cursor: pointer;
  color: #bc4f23;
}

#movieContainer{
  background-color: #2ee1e8;
}

.seriesButton{
  float: left;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #211d23;
  cursor: pointer;
  color: #bc4f23;
}

.itemContainer{
  height: inherit;
  width: 80px;
  float: left;
}



.movieButton:hover{
  color: #ed5f25;
}

.seriesButton:hover{
  color: #ed5f25;
}

/* .itemContainer:hover{
  background-color: #2ee1e8;
} */

.loginBut{
  float: right;
  padding: 5px;
  padding-left: 10px;
  border: 0px;
  background: transparent;

}

/* API CSS ----------------------------- */

.headText {
  padding-top: 100px;
  font-size: 200px;
  color: #EA6B00;
  font-family: "Century Gothic";
  text-align: center;
  width: screenWidth;

}
body {
  background-color: gray;
}

a {
  display: none;
}

.imageClick {
  width: 154px;
  height: 231px;
  border-radius: 10px;
  margin: 10px;
}

.imageClick:hover{
  opacity: 0.4;
  filter: alpha(opacity=40);
  /* outline: 5px solid blue; */
  border: 5px solid blue;
  border-radius: 5px;
  /* outline-offset: -4px; */
  margin: 5px;
}

#base{
  text-align: center;
  font-family: "Century Gothic";
}

.item1 {
  width: 100%;
  /* max-width: 80%; */
}

.sideText {
  text-align: left;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  background-color: #6A6564;
}

.thumbnailImage {
  margin: 6px;
  background-color: #393534;
  text-align: center;
  padding-top: 4px;
  max-width: 165px;
}

.item2 {
  max-width: 30%;
  width: 30%;
  visibility: hidden;
}

.allMovies {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 0px;
  align-content: flex-start;
}

.large-item {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  height: 0px;
}

.large-item-2 {
  /* width: 40%;
  background-color: #6A6564;
  height: 60%; */
}

.container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.titleText {
  /* visibility: hidden; */
}

#searchInput{
  max-width: 600px
  width: auto;
  height: 30px;
  font-size: 30px;
  text-align: center;
}

#submit{
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100px;
  height: 30px;
  font-size: 20px;
  font-family: "Century Gothic";
}

.lower {
  text-align: center;
}

#loadMore {
  visibility: hidden;
}

.thumbnailImage {
  width: 50%;
}

.sideInfo {
  width: 50%;
}

.gridTile {
  color: #EA6B00;
  padding-left: 10px;
  padding-right: 10px;
}

.centerText{
  text-align: center;
}

.sideText {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.posterImage{
  height: 200px;
  width: auto;
}

#apiDiv {
    border: dashed 2px #CCC;
    padding: 10px;
    padding-left: 20px;
}

    #apiDiv input, #apiDiv button {
        font-size: 25px;
        color: #000;
    }

    #apiDiv h4 {
        margin: 10px 0;
    }

    #apiDiv .imageDiv {
        text-align: center;
    }

        #apiDiv .imageDiv img {
            display: none;
        }

    #apiDiv #message {
        padding-top: 10px;
    }

        #apiDiv #message .resultDiv {
            background: #FFF;
            display: inline-block;
        }

            #apiDiv #message .resultDiv &gt; p {
                color: #000;
                display: inline-block;
                width: 95%;
                padding: 10px;
                border-bottom: double 2px #CCC;
            }

            #apiDiv #message .resultDiv .result {
                width: 23%;
                height: 300px;
                padding: 6px;
                /* float: left; */
                text-align: center;
                cursor: pointer;
                visibility: hidden;
            }

                #apiDiv #message .resultDiv .result img {
                    width: 75%;
                }

                #apiDiv #message .resultDiv .result p {
                    margin: 0;
                }

                    #apiDiv #message .resultDiv .result p a {
                        color: #808080;
                        text-decoration: none;
                        font-size: 20px;
                        height: 100px;
                    }

                        #apiDiv #message .resultDiv .result p a:hover {
                            text-decoration: underline;
                        }

#myModal {
    color: #000;
}

#reset {
    padding: 5px 10px;
    background: #4CAF50;
    border: none;
    color: #FFF;
    cursor: pointer;
}

    #reset:hover {
        color: #4CAF50;
        background: #FFF;
    }
