<!DOCTYPE html>
<html>

<header>
  <% include ../partials/head %>
</header>


<body class="bodyFlick">
    <header>
      <% include ../partials/header %>
    </header>

  <main>
    <div class="jumbotron">

      <div class="loginLogo">
        <img src="/public/images/logo.png" class="SiteLogo">
      </div>
      
      <!-- form with entry box for each bit of inomfrtaion we want from our user. -->
      <h3>Sign Up!</h3>

      <!-- submits to our /adduser route. -->
      <form action="/adduser" method="POST">
        <h4>Name</h4>
        <input type="text" placeholder="First Name" name="first">
        </br>
        <input type="text" placeholder="Last Name"  name="last">
        </br><h4>Login</h4>
        <input type="Email" placeholder="me@example.com" name="email">
        </br>
        <input type="text" placeholder="Username"     name="username">
        </br>
        <input type="password" placeholder="Password"  name="password">
      </br><button type="submit">Sign Up</button>
      </form>



    </div>
  </main>


  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
