<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <div class="headerBar">
      <div class="itemContainer">
        <img class="logoHeaderImage"  src="/public/images/logo.png" alt="Logo"/>
      </div>

      <button class="loginBut" type="button" name="login" id="headButton">
        <img src="/public/images/loginButtonImage.png" alt="LOGIN" class="loginBut" onClick="logout()"><a>Login</a>
      </button>
    </div>

  </header>

  <main>
    <div >
      <div>
        <div>
          <!-- Page to display a single profile. The "user" object is passed through from express -->
          <!-- get the first name -->
          <h1 class="loginHead">Welcome <%= user.name.first %></h1>
          <!-- get the username -->
          <h2>username: <%= user.login.username %></h2>
          <p>
            <!-- get the registration date-->
            date of registration: <%= user.registered %>
          </p>
        </div>
      </div>

      <div>
        Favourite Movies
        <div>
          <!-- Favourite code goes here -->
        </div>
      </div>
      <div>
        Favourite Series
        <div>
          <!-- Favourite code goes here -->
        </div>
      </div>

    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
