<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="bodyFlick">

  <header>
    <div class="headerBar">
      <div class="itemContainer">
        <img class="logoutBut"  src="/public/images/loginButtonImage.png" alt="Logo" onClick="logout()"/>
      </div>

      <img class="backBut" onclick="goHomeMovies()" src="/public/images/backbutton.png" alt="Back Button"/>

    </div>

  </header>

  <main>
    <div >
      <div>
        <div>
          <!-- Page to display a single profile. The "user" object is passed through from express -->
          <!-- get the first name -->
          <h1 class="loginHead fullName"><%= user.name.first %> <%= user.name.last %></h1>
          <!-- get the username -->
          <h2 class="username"><%= user.login.username %></h2>
        </div>
      </div>

      <div>
        Favourite Movies
        <div>
          <!-- Favourite code goes here -->
        </div>
      </div>
    </br>
      <div>
        Favourite Series
        <div>
          <!-- Favourite code goes here -->
        </div>
      </div>

    </div>
  </main>

  <% include ../partials/upButton %>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
