<!DOCTYPE html>
<html>
<header>
  <% include ../partials/head %>
</header>

<body>
  <h1>Create a New Account</h1>
  
    <input type = "text" placeholder ="name" name ="name">
    <br>
    <input type = "text" placeholder ="username" name ="username">
    <br>
    <input type="password" placeholder="password" name="password" class="signUpText">





    <footer>
      <% include ../partials/footer %>
    </footer>

</body>

</html>
